@model LexiconLMS.Models.Activity

@{
    ViewBag.Title = "Delete";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
@if (User.IsInRole("Teacher"))
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href='@Url.Action("Index","Courses")'>Courses Overview Page</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Details","Courses",new {id=Model.Module.CourseId })'>  @ViewBag.CourseName</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Index","Modules",new {courseId=Model.Module.CourseId })'>Modules for @ViewBag.CourseName</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Details","Modules",new {Id=Model.ModuleId })'>Details for Module @Model.Module.Name</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Delete","Activities",new {id=Model.Id })'>Remove @Html.Raw(Model.Name) from Module @Html.Raw(Model.Module.Name)</a></li>
    </ol>
}
<h2>Remove Activity</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" /> |
            @Html.ActionLink("Back to Module Details", "Details", "Modules", new { id = Model.ModuleId}, null )
        </div>
    }
</div>
