@model LexiconLMS.Models.Activity
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.1.1.js"></script>
</head>
@{
    ViewBag.Title = "Activity Details";
}
@if (User.IsInRole("Teacher"))
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href='@Url.Action("Index", "Courses")'>Course Home Page</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Index", "Modules", new { courseId = Model.Module.CourseId })'>@ViewBag.CourseName</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Details", "Modules", new { id = Model.ModuleId })'>Module @Html.Raw(Model.Module.Name)</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Details", "Activities", new { id = Model.Id })'>Activity @Html.Raw(Model.Name)</a></li>
    </ol>
}
@if (User.IsInRole("Student"))
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href='@Url.Action("StudentHome", "Courses")'>@ViewBag.CourseName Home Page</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Index", "Modules", new { courseId = Model.Module.CourseId })'>@ViewBag.CourseName Modules</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Details", "Modules", new { id = Model.ModuleId })'>Module @Html.Raw(Model.Module.Name)</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Details", "Activities", new { id = Model.Id })'>Activity @Html.Raw(Model.Name)</a></li>
    </ol>
}
@if (TempData["Event"] != null)
{
    <div class="Event alert alert-success" id="Event">
        <h4>
            @TempData["Event"]
        </h4>
    </div>
    <script type="text/javascript">
        $('#Event').delay(4000).hide(1500);
    </script>
}

@if (TempData["NegativeEvent"] != null)
{
    <div class="TempData alert alert-danger" id="Full">
        <h4>
            @TempData["NegativeEvent"]
        </h4>
    </div>
}
<h2>Details for Activity @Model.Name</h2>

@*@using (Html.BeginForm("Details", "Activities", null, FormMethod.Post, new { enctype = "multipart/form-data" }))*@
@using (Html.BeginForm("Create", "Files", new { activityId = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div>
        @*<h4>Activity</h4>*@
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            @if (User.IsInRole("Teacher"))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.StudentUpload)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StudentUpload)
                </dd>
            }
        </dl>
    </div>
    <p>
        @if (User.IsInRole("Teacher"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span>|</span>
        }
        @Html.ActionLink("Back to Module Details", "Details", "Modules", new { id = Model.ModuleId }, null)
    </p>

    if (User.IsInRole("Teacher") ||
        (Model.StudentUpload && Model.StartDateTime <= DateTime.Now && DateTime.Now <= Model.EndDateTime))
    {
        <hr />
        <br />
        <div class="form-group">
            @Html.Label("File upload", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="upload" />
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.Label("Description for the file:", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control input-lg" name="description" />
                </div>
                </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    }
}

<div>
    <!-- Public documents -->
    @Html.Action("FilesList", new { id = Model.Id, publiclyVisible = true })
</div>

<div>
    <!-- Private documents -->
    @Html.Action("FilesList", new { id = Model.Id, publiclyVisible = false })
</div>
