@model IEnumerable<LexiconLMS.Models.File>

@if (Model.Count() > 0)
{ <table class="table">
    <tr>
        <th>
            Uploader:
        </th>
        <th>            File name:        </th>
        <th>            @Html.DisplayNameFor(model => model.Description)        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>            @Html.DisplayFor(modelItem => item.User.FirstName) @Html.Raw(" ") @Html.DisplayFor(modelItem => item.User.LastName)</td>
        <td>            @Html.DisplayFor(modelItem => item.FileName)        </td>
        <td>            @Html.DisplayFor(modelItem => item.Description)        </td>
            @if (User.IsInRole("Teacher"))
            {
                <td>                    @Html.ActionLink("Delete", "DeleteCourseFile", "Files", new { id = item.Id}, null)</td>
            }
            @if (User.IsInRole("Student"))
            {
                <td>@Html.ActionLink("Download", "StudentDownloadFile", "Files", new { id = item.Id }, new { target = "_blank" })
                </td>
            }</tr>
}</table>
} @*end if model count is bigger than zero*@
         else   {<p>There are no uploaded files.</p>   }