
@model IEnumerable<LexiconLMS.Models.File>

@*@if (Model.Count > 0)
    {*@
<br />
<br />
<hr />
<br />
<h3>@ViewBag.Heading</h3>

<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <thead>
        <tr>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
                -->
            <th data-defaultsort='disabled'></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            -->
            <td>

                @Html.ActionLink("Download", "Download", "Activities", new { id = item.Id }, null)
                @if (User.IsInRole("Teacher"))
                {
                    <span> | </span>
                        @Html.ActionLink("Delete", "Delete","Files", new { id = item.Id },null)
                }
            </td>
        </tr>
    }

</table>

@*} else {
      <hr />
    <br />
    <br />
    <br />
    <h3>@ViewBag.Heading</h3>

    There are no uploaded files.
        }*@

