<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lexicon LMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (User.IsInRole("Teacher"))
                {

                    <a href='@Url.Action("Index","Courses")'>
                        <img src='@Url.Content("~/Images/logo-lexicon_small.gif")' alt="Lexicon">
                    </a>
                    @*@Html.ActionLink("Lexicon LMS", "Index", "Courses", new { area = "" }, new { @class = "navbar-brand" })*@
                @*@Html.ActionLink(" ", "Index", "Courses",null, new { @style = "background:url('~/Images/logo-lexicon_small.gif') no-repeat center right; display:block; height: 30px; width: 50px" })*@
                    //Html.ActionLink(" ", "Edit", new { id = c.ID }, new { @style = "background:url('../../Images/Menu/edit.png') no-repeat center right; display:block; height: 30px; width: 50px" }
                }
                else
                {
                    <a href='@Url.Action("StudentHome","Courses")'>
                        <img src='@Url.Content("~/Images/logo-lexicon_small.gif")' alt="Lexicon" @*id="LexiconSmall"*@>
                    </a>
                        @*@Html.ActionLink("Lexicon LMS", "StudentHome", "Courses", new { area = "" }, new { @class = "navbar-brand" })*@
                        }

</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Student"))
                    {
                        <li>@Html.ActionLink("Student List", "StudentList", "Account")</li>
                         
                    }
                    @if (User.IsInRole("Teacher"))
                    {
                        <li>@Html.ActionLink("Course List", "Index", "Courses")</li>
                       <li>@Html.ActionLink("Teacher List", "TeacherList", "Account")</li>
                        <li>@Html.ActionLink("Student List", "StudentList", "Account")</li>
                        <li>@Html.ActionLink("Activity Types", "Index", "ActivityTypes")</li> <!--XXX Flytta denna till ngn sub-meny?! -->
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Lexicon</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
