@model IEnumerable<LexiconLMS.Models.UserViewModels>
<head>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
</head>
@if (User.IsInRole("Teacher"))
{
    <hr>

    <h3>Students</h3>
    if (TempData["Event"] != null)
    {
        <div class="Event alert alert-success" id="Event">
            <h4>
                @TempData["Event"]
            </h4>
        </div>
        <script type="text/javascript">
    $('#Event').delay(4000).hide(1500);
        </script>
    }
    if (TempData["NegativeEvent"] != null)
    {
        <div class="TempData alert alert-danger" id="Full">
            <h4>
                @TempData["NegativeEvent"]
            </h4>
        </div>
    }
<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <thead>
        <tr>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.Email)
            </th>
                <th data-defaultsort='disabled'></th>
        </tr>
    </thead>
        @foreach (var item in Model.OrderBy(s => s.FirstName))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>    
                        @Html.ActionLink("Edit", "Edit","Account",new { email = item.Email }, null) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.Email }, new { @style = "color:red;" }) |*@
                        @Html.ActionLink("Remove", "Delete","Account" ,new { email = item.Email},null)

               </td>
            </tr>
        }

</table>
} @*end if user is in role teacher*@
