@model IEnumerable<LexiconLMS.Models.Module>
@{int nrOfActivites = 0;
    var hrefName = "";
    var id = "";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script language="javascript">
        function toggle(elementId) {
            var ele = document.getElementById(elementId);
            if (ele.style.display == "block") {
                ele.style.display = "none";
            }
            else {
                ele.style.display = "block";
            }
        }
    </script>
</head>



@foreach (var item in Model)
{
    hrefName = "#collapse" + nrOfActivites + 1;
    id = "collapse" + nrOfActivites + 1;

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href=@hrefName>
                        <b><i> @Html.DisplayFor(modelItem => item.Name) : </i></b>

                        <b>   @Html.DisplayFor(modelItem => item.Description)</b>
                    </a>
                </h4>
            </div>
        </div>

        @* här måste jag nog svepa in hela foreachen i en div med rätt id *@

        <div id=@id class="panel-collapse collapse">
            <div class="panel-body">

                @foreach (var activity in item.Activities.OrderBy(o => o.StartDateTime))
                {
                    @Html.DisplayFor(activityItem => activity.StartDateTime)
                    @Html.Raw(" to ")
                    @Html.DisplayFor(activityItem => activity.EndDateTime)
                    <br />
                    <b>@Html.Raw("Activity type: ")</b>
                    @Html.DisplayFor(activityItem => activity.Type.Name)
                    <br />
                    <b> @Html.Raw("Description: ")</b>
                        @Html.DisplayFor(activityItem => activity.Name)
                        <br />
                    var countPublicFiles = activity.Files.Where(f => f.PubliclyVisible == true).Count();
                    if (countPublicFiles > 0)
                    {
                        <b> @Html.Raw("Files: ")</b> @countPublicFiles
                        <br />
                    }
                    if (activity.StudentUpload)
                    {
                        <b style="color:red;">Assignment</b>
                        <br />
                    }
                    @Html.ActionLink("Details", "Details", "Activities", new { id = activity.Id, courseName = @ViewBag.CourseName }, null)  <br />
                    <br />

                }
            </div>
        </div>
        @*  slut på if nrofactivities==0*@
        @{nrOfActivites = nrOfActivites + 1;}
    </div>
            }

