@model LexiconLMS.Models.RegisterViewModel
@{
    ViewBag.Title = "Register a new student to the course " + @ViewBag.CourseName;
}

<h2>@ViewBag.Title</h2>
<head>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
</head>
@if (User.IsInRole("Teacher"))
{
<ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href='@Url.Action("Index","Courses")'>Courses Overview Page</a></li>
    <li class="breadcrumb-item active"><a href='@Url.Action("Details","Courses",new {id=ViewBag.CourseId})'>@ViewBag.CourseName   </a></li>
    <li class="breadcrumb-item active"><a href='@Url.Action("RegisterStudent","Account",new {courseId=ViewBag.CourseId })'>Add Student to @ViewBag.CourseName</a></li>
</ol>
}

   
<!--XXX Ta bort...eller flytta alla länkar hit
<div>
    @Html.ActionLink("Back to Course List", "Index", "Courses")
</div>
-->

@if (TempData["Event"] != null)
{
    <div class="Event alert alert-success" id="Event">
        <h4>
            @TempData["Event"]
        </h4>
    </div>
    <script type="text/javascript">
    $('#Event').delay(4000).hide(1500);
    </script>
}

@if (TempData["NegativeEvent"] != null)
{
    <div class="TempData alert alert-danger" id="Full">
        <h4>
            @TempData["NegativeEvent"]
        </h4>
    </div>
}
@using (Html.BeginForm("RegisterStudent", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Adress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Adress, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <input type="hidden" name="CourseId" value="@ViewBag.CourseId" />
    /*@{Model.CourseId = ViewBag.Courseid}*/
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="save1" class="btn btn-default" value="Register 1 & return to course" />
            <input type="submit" name="saveMultiple" value="Register & add another student" class="btn btn-default" />
        </div>
    </div>
}

<p>
    @Html.ActionLink("Back to Course Details", "Details", "Courses", new { id = @ViewBag.CourseId }, "")
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
