@model IEnumerable<LexiconLMS.Models.UserViewModels>

@{
    ViewBag.Title = "Teacher List";
}
<head>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
</head>
<h2>List of all teachers in the LMS</h2>
@if (TempData["Event"] != null)
{
    <div class="Event alert alert-success" id="Event">
        <h4>
            @TempData["Event"]
        </h4>
    </div>
    <script type="text/javascript">
    $('#Event').delay(4000).hide(1500);
    </script>
}
@if (TempData["NegativeEvent"] != null)
{
    <div class="TempData alert alert-danger" id="Full">
        <h4>
            @TempData["NegativeEvent"]
        </h4>
    </div>
}
<p>
    @Html.ActionLink("Register Teacher", "Register")
</p>
<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <thead>
        <tr>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th data-defaultsign="AZ">
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>*@
            <th data-defaultsort='disabled'></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { email = item.Email }) 
                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @if (item.Email!=User.Identity.Name)
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink("Remove", "Delete", new { email = item.Email })
                }
                
            </td>
        </tr>
    }

</table>
