@model IEnumerable<LexiconLMS.Models.UserViewModels>

@{
    ViewBag.Title = "Teacher List";
}

<h2>All Registered Teachers</h2>

<p>
    @Html.ActionLink("Register Teacher", "Register")
</p>
<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <thead>
        <tr>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th data-defaultsign="AZ">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th data-defaultsign="AZ">
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>*@
            <th data-defaultsort='disabled'></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Email }, new { @style = "color:red;" }) 
                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @if (item.Email!=User.Identity.Name)
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink("Remove", "Delete", new { id = item.Email }, new { @style = "color:red;" })
                }
                
            </td>
        </tr>
    }

</table>
