@using LexiconLMS.Models
@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Course Details";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.1.1.js"></script>
</head>
@if (User.IsInRole("Teacher"))
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href='@Url.Action("Index", "Courses")'>Courses Overview Page</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Details", "Courses", new { id = Model.Id })'>@Html.Raw(Model.Name)   </a></li>
    </ol>
}
@if (TempData["Event"] != null)
{
    <div class="Event alert alert-success" id="Event">
        <h4>
            @TempData["Event"]
        </h4>
    </div>
    <script type="text/javascript">
        $('#Event').delay(4000).hide(1500);
    </script>
}

@if (TempData["NegativeEvent"] != null)
{
    <div class="TempData alert alert-danger" id="Full">
        <h4>
            @TempData["NegativeEvent"]
        </h4>
    </div>
}
<h2>Course Details for @Html.DisplayFor(model => model.Name)</h2>

<div>
<!-- TODO Ta bort...eller flytta alla länkar hit
    <hr />
    <p>
        @Html.ActionLink("Register Student", "RegisterStudent", "Account", new { courseId = Model.Id }, null)
    </p>
    <hr />
    -->
    <dl class="dl-horizontal">
         <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Register Student ", "RegisterStudent", "Account", new { courseId = Model.Id }, null) |
    @Html.ActionLink("Edit Course Info ", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Modules", "Index", "Modules", new { courseId = Model.Id }, null)
</p>

@*file upload area for course*@
    @if (User.IsInRole("Teacher"))
    {
        using (Html.BeginForm("CreateCourseFile", "Files", new { courseId = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
<hr />
<br />
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            @Html.Label("File upload at Course level.")
                <input type="file" name="upload" />
    <br />
        @*</div>*@
        @*<div class="form-group" >*@
             @Html.Label("Description:")
            &nbsp;
                <input class="form-control input-sm" name="description" />
        @*</div>*@
        @*<div class="form-group">*@
                <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>@*end of upload area div*@
    <div class="col-md-7">
    <h4>Uploaded files at course level:</h4>
    @Html.Action("ShowCourseFiles","Files",new { courseId=Model.Id})
    </div>@*end of row already uploaded files*@

</div> @*end of row div*@
        }
    }@* end of @using html.beginform *@
    @*show student list for this course*@

<div>
    @Html.Action("StudentListForCourse", new { courseId = Model.Id})
</div>

@*test av filarea. inte på något sätt klar*@
@*@using (Html.BeginForm("Upload", "Courses", null, FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    <div id="Buttons">
        @Html.Label("Upload Course File ", new { @class = "control-label col-md-2" })
            <input type="hidden" name="userName" value="@User.Identity.Name" />
            <input type="hidden" name="ourseId" value="@Model.Id" />
            <input type="file" id="button" name="Choose File"  />
            <input type="submit" id="button" class="btn btn-default" value="Upload File" name="upload" />
        </div>


}*@