@using LexiconLMS.Models
@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <p>
        @Html.ActionLink("Add student", "RegisterStudent", "Account", new { courseId = Model.Id }, null)
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Course List", "Index")
</p>

    @*show student list for this course*@
<div>
    @Html.Action("StudentListForCourse",new { courseId = Model.Id})
</div>
<p>
    @Html.ActionLink("Add new student to course", "RegisterStudent", "Account", new { courseId = Model.Id },null)
    @*need to implement :a sex check must be done when creating a user,
        a man cannot attend java4women etc.*@
</p>