@model LexiconLMS.Models.Module

@{
    ViewBag.Title = "Remove";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
@if (User.IsInRole("Teacher"))
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href='@Url.Action("Index","Courses")'>Courses Overview Page</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Details","Courses",new {id=ViewBag.CourseId })'>@ViewBag.CourseName</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Index","Modules",new {courseId=ViewBag.CourseId })'>Modules for @ViewBag.CourseName</a></li>
        <li class="breadcrumb-item active"><a href='@Url.Action("Delete","Modules",new {courseId=ViewBag.CourseId,courseName=ViewBag.CourseName })'>Delete Module @Model.Name</a></li>
    </ol>
}
<h2>Remove</h2>

<h3>Are you sure you want to remove this Module?</h3>
<div>
    <h4>Module for Course @ViewBag.CourseName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new {courseId = Model.CourseId })
        </div>
    }
</div>
